@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


html {
    scroll-behavior: smooth;
  }

  .btn {
    background-color: blue;
    color: red;
  }
  .desc {
    color: #d2d5dbe8;
    /* color: red; */
  }
  .card-background {
    background-color: rgb(55 65 81);
  }