@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



:root {
  --small-margin: 10px;
  --main-color: yellow;
  --primary-color: #da373d;
  --secondary-color: #1f2937;
}
body {
  background-color: #1f2937;
 
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

.home  {
  background-image: url('https://flowbite.s3.amazonaws.com/docs/jumbotron/conference.jpg');
  background-position: center;
}
body {
  background-color: #1f2937;
  font-family: 'Poppins', sans-serif;
}
.main-color {
  background-color: #1f2937;
}
.btn {
  background-color: blue;
  color: white;
}
.icon {
  color: blue;
  font-size: 26px;
}
.bg-card {
  background-color: rgba(17, 24, 39, 0.38);
}
.bg-icon {
  background-color: rgba(0, 0, 255, 10%);
}
.title {
  padding-top: 14px;
  padding-bottom: 18px;
}
.page-margin {
  margin-top: 90px ;
  margin-bottom: 0px ;
}
.desc {
  color: #d2d5dbe8;
  /* color: red; */
}
.card-background {
  background-color: rgb(55 65 81);
}


.my-container {
  padding-right: 16px;
  padding-left: 16px;
}

@media (min-width: 768px) {
  .my-container {
    padding-right: 40px;
  padding-left: 40px;
  }
}

@media (min-width: 1024px) {
  .my-container {
    padding-right: 70px;
  padding-left: 70px;
  }
}

@media (min-width: 1280px) {
  .my-container {
    padding-right: 30px;
  padding-left: 30px;
  }
}

