@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");


html {
  scroll-behavior: smooth;
}
body {
  background-color: #1f2937;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.home  {
  background-image: url('https://flowbite.s3.amazonaws.com/docs/jumbotron/conference.jpg');
  background-position: center;
}

.main-color {
  background-color: #1f2937;
}

.btn {
  background-color: blue;
  color: white;
}

.icon {
  color: blue;
  font-size: 26px;
}

.bg-card {
  background-color: rgba(17, 24, 39, 0.98);
}
.bg-icon {
  background-color: rgba(0, 0, 255, 10%);
}
.title {
  padding-top: 14px;
  padding-bottom: 18px;
}
.page-margin {
  margin-top: 90px ;
  margin-bottom: 0px ;
}
.desc {
  color: #d2d5dbe8;
}
.card-background {
  background-color: rgb(55 65 81);
}


.my-container {
  padding-right: 16px;
  padding-left: 16px;
}

@media (min-width: 768px) {
  .my-container {
    padding-right: 40px;
  padding-left: 40px;
  }
}

@media (min-width: 1024px) {
  .my-container {
    padding-right: 70px;
  padding-left: 70px;
  }
}

@media (min-width: 1280px) {
  .my-container {
    padding-right: 30px;
  padding-left: 30px;
  }
}